.card-grid-movie {
  display: grid;
  grid-auto-rows: 300px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 20px;

  &--loading,
  &--empty {
    display: block;
  }
}
