extends layouts/layout

block body
  a(href="/movies") Movies

  a.sync-url Sync now

  //- <script src="/helpers/EventNotification.js" type="text/javascript" charset="utf-8" async defer></script>
  script(src="/assets/javascript/app.js" type="text/javascript" charset="utf-8" async defer)
