<a href="/movies">
  Movies
</a>

<a href="/movies/sync">
  Sync now
</a>

<!-- <script src="/helpers/EventNotification.js" type="text/javascript" charset="utf-8" async defer></script> -->
<!-- <script src="/javascript/notificationHandler.js" type="text/javascript" charset="utf-8" async defer></script> -->
