$color-black: #000000;
$color-white: #ffffff;

$color-app-header-background: purple;
$color-app-navigation-background: red;
$color-app-content-background: yellow;

$color-background-light: #eeeeee;
$color-background-dark: #455a64;
$color-background-active: #90a4ae;

$color-font-medium: #bdbdbd;
$color-font-light: #eeeeee;
