$size-app-header-height: 100px;
$size-app-navigation-width: 200px;
$size-app-content-min-height: 500px;

$size-font-small: 12px;
$size-font-regular: 14px;
$size-font-medium: 18px;
$size-font-big: 25px;
