@import '~style/variables/colors';
@import '~style/variables/sizes';

.file-card {
  // min-width: 100px;
  // max-width: 200px;
  background-color: $color-white;
  border-radius: 5px;
  overflow: hidden;

  &__image {
    width: 100%;
    background-color: $color-background-dark;
    color: $color-font-light;
    font-size: $size-font-big;
    height: 125px;
    line-height: 125px;
    text-align: center;
  }

  &__title {
    font-size: $size-font-medium;
    padding: 5px 10px;
  }

  &__sub-title {
    font-size: $size-font-regular;
    color: $color-font-medium;
    float: right;
    margin-top: 3px;
  }

  &__info {
    padding: 5px 10px;
    font-size: $size-font-small;
  }
}
