@import '~style/variables/colors';
@import '~style/variables/sizes';

.app-layout {
  display: grid;
  grid-template:
    'app-header     app-header  app-header  app-header ' #{$size-app-header-height}
    'app-navigation app-content app-content app-content' #{1fr}
    / $size-app-navigation-width 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;

}

.app-content {
  background-color: $color-app-content-background;
  grid-area: app-content;
}

